<div class="jumbotron">
	<h1 style="text-align: center">Rails Chat</h1>
	<p style="text-align: center; font-size: 0.8em;">
		Very quick rails application that utilizes ActionCable to make use of WebSockets for real time chatting!
		Be sure to check out the <%= link_to "GitHub", "https://github.com/christianteller/chat" %>; feedback is appreciated.
	</p>
	<div class="well" id="chatbox" style="height: 250px; border: 1px solid black; overflow-y: scroll;">
		<% @messages.each do |message| %>
			<%= render 'messages/message', message: message %>
		<% end %>
	</div>
	<% if current_user %>
	<%= form_with model: @message do |f| %>
	<div class="input-group mb-3">
		<%= f.text_field :body, placeholder: "type here..", class: 'form-control' %>
		<div class="input-group-append">
			<%= f.submit "Send", class: "btn btn-secondary" %>
		</div>
	</div>
	<% end %>
	<% else %>
		<p style="padding-top: 20px;">You must be <%= link_to "singed in", new_user_session_path %> in to chat!</p>
	<% end %>
</div>